/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

.nav-shadow {
  box-shadow: rgb(0 0 0 / 50%) 0px -5px 23px -15px;
}
